<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJyierRq46NemucgOEvDAh-YMchmq_fDU</string>
	<key>GCM_SENDER_ID</key>
	<string>792593901522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storeApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-9a611</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-9a611.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792593901522:ios:7b8b5a8838f6a130968a0b</string>
</dict>
</plist>